<article class="text--justified">
  <header><h2>Members</h2></header>

  <table *ngIf="members">

    <tbody>
    <tr *ngFor="let member of members.members">
      <td>{{member.name}}</td>
      <td>
        <a [routerLink]="['/members', member.id]">
          <button class="button-30">View</button>
        </a>
      </td>
      <td>
        <a [routerLink]="['/members', member.id, 'edit']">
          <button class="button-30">Edit</button>
        </a>
      </td>
      <td>
        <button class="button-30" (click)="onDelete(member)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</article>
