<article *ngIf="guild">
  <header><h2>{{guild.name}}</h2></header>

  <div class="container">
    <div class="col">
      <h3>Name: <span>{{guild.name}}</span></h3>
    </div>

    <div class="col">
      <h3>Region: <span>{{guild.region}}</span></h3>
    </div>

    <div class="col">
      <h3>Creation year: <span>{{guild.creationYear}}</span></h3>
    </div>
  </div>

  <h4>Members:</h4>

  <table *ngIf="members">
    <tbody>
    <tr *ngFor="let member of members.members">
      <td>{{member.name}}</td>
      <td>
        <a [routerLink]="['/members', member.id]">
          <button class="button-30">View</button>
        </a>
      </td>
      <td>
        <button class="button-30" (click)="onDelete(member.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

</article>
